---
Checks: '-*,
bugprone-*,
-bugprone-easily-swappable-parameters,
-bugprone-narrowing-conversions,

modernize-*,
-modernize-use-trailing-return-type,
-modernize-use-constraints,
-modernize-avoid-c-arrays,

performance-*,
-performance-avoid-endl,

readability-*,
-readability-identifier-length,
-readability-magic-numbers,

cppcoreguidelines-*,
-cppcoreguidelines-avoid-magic-numbers,
-cppcoreguidelines-macro-usage,
-cppcoreguidelines-non-private-member-variables-in-classes,
-cppcoreguidelines-special-member-func,

cert-dcl21-cpp,
cert-dcl58-cpp,
cert-err34-c,
cert-err52-cpp,
cert-err60-cpp,
cert-flp30-c,
cert-msc50-cpp,
cert-msc51-cpp,
cert-str34-c,
google-default-arguments,
google-explicit-constructor,
google-runtime-operator,
google-readability-casting,
google-upgrade-googletest-case,
llvm-include-order,
llvm-namespace-comment,
hicpp-exception-baseclass,
hicpp-multiway-paths-covered,
hicpp-no-assembler,
misc-const-correctness,
misc-definitions-in-headers,
misc-header-include-cycle,

-misc-include-cleaner,

misc-misplaced-const,
misc-new-delete-overloads,
misc-no-recursion,
misc-non-copyable-objects,
misc-static-assert,
misc-throw-by-value-catch-by-reference,
misc-unconventional-assign-operator,
misc-uniqueptr-reset-release,
misc-use-anonymous-namespace,
mpi-buffer-deref,
mpi-type-mismatch,
openmp-use-default-none,

-hicpp-avoid-c-arrays
'

CheckOptions:
  cppcoreguidelines-avoid-do-while.IgnoreMacros: 'true'
  readability-function-cognitive-complexity.Threshold: 35

UseColor: true
