name: build
on:
  push:
    tags-ignore: v*.*
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  build-linux:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        compiler: [ninja-gcc, ninja-clang, ninja-clang-libcpp, ninja-intel]
        cxx_version: [17, 20]
        target: [Debug, Release]
    steps:
      - uses: actions/checkout@v4
      - name: install dependencies
        run: |
          wget -O- https://apt.repos.intel.com/intel-gpg-keys/GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB | gpg --dearmor | sudo tee /usr/share/keyrings/oneapi-archive-keyring.gpg > /dev/null
          echo "deb [signed-by=/usr/share/keyrings/oneapi-archive-keyring.gpg] https://apt.repos.intel.com/oneapi all main" | sudo tee /etc/apt/sources.list.d/oneAPI.list
          sudo apt install -yqq ninja-build intel-basekit
          source /opt/intel/oneapi/setvars.sh
      - name: configure cmake
        run: cmake -S . --preset=${{matrix.compiler}} -B build -DCMAKE_CXX_STANDARD=${{matrix.cxx_version}}
      - name: build
        run: cmake --build build --config=${{matrix.target}}

  build-windows:
    runs-on: windows-2022
    strategy:
      fail-fast: false
      matrix:
        compiler: [vs22]
        cxx_version: [17, 20]
        target: [Debug, Release]
    steps:
      - uses: actions/checkout@v4
      - name: configure
        run: cmake -S . --preset=${{matrix.compiler}} -B build -DCMAKE_CXX_STANDARD=${{matrix.cxx_version}}
      - name: build
        run: cmake --build build --config=${{matrix.target}}

  build-macos:
    runs-on: macos-14
    strategy:
      fail-fast: false
      matrix:
        compiler: [ninja-clang, ninja-gcc]
        cxx_version: [17, 20]
        target: [Debug, Release]
    steps:
      - uses: actions/checkout@v4
      - name: install homebrew formulae
        run: /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
      - name: install ninja
        run: brew install ninja
      - name: update AppleClang to 14.0.3
        run: sudo xcode-select -s /Applications/Xcode_14.3.app/Contents/Developer
      - name: configure
        run: cmake -S . --preset=${{matrix.compiler}} -B build -DCMAKE_CXX_STANDARD=${{matrix.cxx_version}}
      - name: build
        run: cmake --build build --config=${{matrix.target}}
